<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezsmart.code.ZzCodeM">

<!--
 * 시스템명 : 테스트 프로젝트
 * 생 성 자 : 안형기
 * 생 성 일 : 2020-11-12
 -->

<!-- Row Count를 반환합니다. -->
<select id="getRowCount" resultType="int">
SELECT COUNT(1) CNT 
  FROM ZZ_CODE_M A                   /* 공통코드마스터 */
 WHERE 1 = 1
</select>

<!-- 한건을 기준으로 select를 실행합니다. -->
<select id="selectList" resultType="EzMap">
SELECT 
       A.CMPY_CD                                  /* 회사코드 */
     , A.MST_CD                                   /* 마스터코드 */
     , A.MST_NM                                   /* 마스터코드명 */
     , A.USE_YN                                   /* 사용여부 */
     , A.REF_FLD_NM1                              /* 참조필드명1 */
     , A.REF_FLD_NM2                              /* 참조필드명2 */
     , A.REF_FLD_NM3                              /* 참조필드명3 */
     , A.REF_FLD_NM4                              /* 참조필드명4 */
     , A.REF_FLD_NM5                              /* 참조필드명5 */
     , A.REF_NUM_NM1                              /* 참조숫자명1 */
     , A.REF_NUM_NM2                              /* 참조숫자명2 */
     , A.REF_NUM_NM3                              /* 참조숫자명3 */
     , A.REF_NUM_NM4                              /* 참조숫자명4 */
     , A.REF_NUM_NM5                              /* 참조숫자명5 */
     , A.REG_ID                                   /* 등록자아이디 */
     , A.REG_DT                                   /* 등록일 */
     , A.MOD_ID                                   /* 수정자아이디 */
     , A.MOD_DT                                   /* 수정일 */
  FROM ZZ_CODE_M A                   /* 공통코드마스터 */
 WHERE 1=1 
 <if test="useYn != null and useYn != ''">
   AND A.USE_YN = #{useYn}
 </if>  
 <if test="mstCd != null and mstCd != ''">
   AND A.MST_CD = #{mstCd}
 </if>  
 <if test="mstNm != null and mstNm != ''">
   AND A.MST_NM LIKE % + #{mstNm} + %
 </if>  
</select>

<!-- 한건을 기준으로 insert를 실행합니다. -->
<insert id="insert">
INSERT INTO ZZ_CODE_M (                           /* 공통코드마스터 */
       CMPY_CD                                    /* 회사코드 */
     , MST_CD                                     /* 마스터코드 */
     , MST_NM                                     /* 마스터코드명 */
     , USE_YN                                     /* 사용여부 */
     , REF_FLD_NM1                                /* 참조필드명1 */
     , REF_FLD_NM2                                /* 참조필드명2 */
     , REF_FLD_NM3                                /* 참조필드명3 */
     , REF_FLD_NM4                                /* 참조필드명4 */
     , REF_FLD_NM5                                /* 참조필드명5 */
     , REF_NUM_NM1                                /* 참조숫자명1 */
     , REF_NUM_NM2                                /* 참조숫자명2 */
     , REF_NUM_NM3                                /* 참조숫자명3 */
     , REF_NUM_NM4                                /* 참조숫자명4 */
     , REF_NUM_NM5                                /* 참조숫자명5 */
     , REG_ID                                     /* 등록자아이디 */
     , REG_DT                                     /* 등록일 */
     , MOD_ID                                     /* 수정자아이디 */
     , MOD_DT                                     /* 수정일 */
) VALUES (
       '0000'
     , #{mstCd}
     , #{mstNm}
     , #{useYn}
     , #{refFldNm1}
     , #{refFldNm2}
     , #{refFldNm3}
     , #{refFldNm4}
     , #{refFldNm5}
     , #{refNumNm1}
     , #{refNumNm2}
     , #{refNumNm3}
     , #{refNumNm4}
     , #{refNumNm5}
     , #{regId}
     , NOW()
     , #{modId}
     , NOW()
)
</insert>

<!-- 한건을 기준으로 update를 실행합니다. -->
<update id="update">
UPDATE ZZ_CODE_M SET                              /* 공통코드마스터 */
       MST_NM = #{mstNm}                          /* 마스터코드명 */
     , USE_YN = #{useYn}                          /* 사용여부 */
     , REF_FLD_NM1 = #{refFldNm1}                 /* 참조필드명1 */
     , REF_FLD_NM2 = #{refFldNm2}                 /* 참조필드명2 */
     , REF_FLD_NM3 = #{refFldNm3}                 /* 참조필드명3 */
     , REF_FLD_NM4 = #{refFldNm4}                 /* 참조필드명4 */
     , REF_FLD_NM5 = #{refFldNm5}                 /* 참조필드명5 */
     , REF_NUM_NM1 = #{refNumNm1}                 /* 참조숫자명1 */
     , REF_NUM_NM2 = #{refNumNm2}                 /* 참조숫자명2 */
     , REF_NUM_NM3 = #{refNumNm3}                 /* 참조숫자명3 */
     , REF_NUM_NM4 = #{refNumNm4}                 /* 참조숫자명4 */
     , REF_NUM_NM5 = #{refNumNm5}                 /* 참조숫자명5 */
     , MOD_ID = #{modId}                          /* 수정자아이디 */
     , MOD_DT = NOW()                         /* 수정일 */
 WHERE MST_CD = #{mstCd}
</update>

<!-- 한건을 기준으로 delete를 실행합니다. -->
<delete id="delete">
DELETE FROM   ZZ_CODE_M                           /* 공통코드마스터 */
 WHERE MST_CD = #{mstCd}
</delete>


<select id="selectMCodeList" parameterType="EzMap" resultType="EzMap">
    /* selectMCodeList - select */
    SELECT 
             A.CMPY_CD AS PCODE
            ,A.MST_CD AS CODE
            ,A.MST_NM AS NAME
            ,A.USE_YN
            ,A.REF_FLD_NM1
            ,A.REF_FLD_NM2
            ,A.REF_FLD_NM3
            ,A.REF_FLD_NM4
            ,A.REF_FLD_NM5
            ,A.REF_NUM_NM1
            ,A.REF_NUM_NM2
            ,A.REF_NUM_NM3
            ,A.REF_NUM_NM4
            ,A.REF_NUM_NM5
            ,A.REG_ID
            ,A.REG_DT
            ,A.MOD_ID
            ,A.MOD_DT
        FROM ZZ_CODE_M A
        WHERE 1=1 
        <if test="cmpyCd !=null and cmpyCd !=''">
        AND A.CMPY_CD = #{cmpyCd}
        </if>
        <if test="mstCd !=null and mstCd !=''">
        AND A.MST_CD = #{mstCd}
        </if>
        <if test="refCd1 !=null and refCd1 !=''">
        AND A.REF_FLD_NM1 = #{refCd1}
        </if>
        AND A.USE_YN = 'Y'
    </select>

</mapper>

