<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezsmart.zzMenuM">
<!-- ZZ_MENU_M -->
    
    <!-- 메뉴 업데이트 -->
    <update id="updateMenu">
      /* ZZ_MENU_M - updateMenu */
      UPDATE ZZ_MENU_M
         SET   MENU_NM              =       #{menuNm}
             , MENU_URL             =       #{menuUrl}
             , MENU_SEQ             =       #{menuSeq}
             , MENU_SHOW_YN         =       #{menuShowYn}
             , MENU_ICON            =       #{menuIcon}
             , MENU_AUTH_YN         =       #{menuAuthYn}
             , USE_YN               =       #{useYn}
             , MOD_ID               =       #{modId}
             , MOD_DT               =       GETDATE()
         WHERE MENU_ID = #{menuId}
    </update>
    
    <!-- 메뉴 추가 -->
    <insert id="insertMenu">
        /* ZZ_MENU_M - insertMenu */
        INSERT INTO ZZ_MENU_M (
               CMPY_CD
             , MENU_ID
             , MENU_NM
             , MENU_URL
             , UP_MENU_ID
             , ROOT_MENU_ID
             , MENU_LEVEL
             , MENU_SEQ
             , MENU_SHOW_YN
             , MENU_ICON
             , LANG_GB
             , MENU_AUTH_YN
             , USE_YN
             , REG_ID
             , REG_DT
             , MOD_ID
             , MOD_DT
         ) VALUES (
               '0000'
             , #{menuId}   
             , #{menuNm}
             , #{menuUrl}
             , CASE WHEN #{menuLevel} = 1
                    THEN NULL
                    ELSE #{upMenuId} END
             , CASE WHEN #{menuLevel} = 1
                    THEN #{menuId}
                    ELSE #{rootMenuId}
                     END
			 , #{menuLevel}
			 , #{menuSeq}
             , CASE WHEN #{menuShowYn} = 'Y'
                    THEN 'Y'
                    ELSE 'N'
                     END 
			 , #{menuIcon}      
 			 , #{langGb}
			 , #{menuAuthYn}   
             , #{useYn} 
			 , #{modId}          
             , GETDATE()
             , #{regId}
             , GETDATE()
         )
    </insert>
    
    <!-- 메뉴 삭제 -->
    <delete id="deleteMenu">
       /* ZZ_MENU_M - deleteMenu */
       DELETE ZZ_MENU_M
        WHERE MENU_ID = #{menuId}
    </delete>
</mapper>